<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SyncRoomChatTool.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <SyncRoomChatTool.App>
      <setting name="waitTiming" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="logFont" serializeAs="String">
        <value>MS UI Gothic, 10.2pt</value>
      </setting>
      <setting name="zoomFacter" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="windowSize" serializeAs="String">
        <value>958, 629</value>
      </setting>
      <setting name="canSpeech" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="linkWaveFilePath" serializeAs="String">
        <value>link.wav</value>
      </setting>
      <setting name="UseVoiceVox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VoiceVoxPath" serializeAs="String">
        <value />
      </setting>
      <setting name="VoiceVoxAddress" serializeAs="String">
        <value>http://localhost:50021</value>
      </setting>
    </SyncRoomChatTool.App>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>