<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SyncRoomChatTool.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <SyncRoomChatTool.App>
      <setting name="waitTiming" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="logFont" serializeAs="String">
        <value>游ゴシック, 12pt</value>
      </setting>
      <setting name="zoomFacter" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="windowSize" serializeAs="String">
        <value>958, 629</value>
      </setting>
      <setting name="canSpeech" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="linkWaveFilePath" serializeAs="String">
        <value>link.wav</value>
      </setting>
      <setting name="UseVoiceVox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VoiceVoxPath" serializeAs="String">
        <value />
      </setting>
      <setting name="VoiceVoxAddress" serializeAs="String">
        <value>http://127.0.0.1:50021</value>
      </setting>
      <setting name="cutLength" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="twitcastUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="readName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="clientId" serializeAs="String">
        <value>4189771.35cba219c8a4e7ec7ebb2d899b5b043dde67a6703a6a782f19939c3ba5e87397</value>
      </setting>
      <setting name="useTwitcasting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="twitCastingBaseAddress" serializeAs="String">
        <value>https://apiv2.twitcasting.tv/</value>
      </setting>
      <setting name="WindowTopMost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenLink" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PlayAsync" serializeAs="String">
        <value>False</value>
      </setting>
    </SyncRoomChatTool.App>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>