<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SyncRoomChatTool.App>
            <setting name="waitTiming" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="logFont" serializeAs="String">
                <value>メイリオ, 15pt</value>
            </setting>
            <setting name="zoomFacter" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>1634, 904</value>
            </setting>
            <setting name="canSpeech" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="linkWaveFilePath" serializeAs="String">
                <value>D:\Documents\GitHub\SyncRoomChatTool\SyncRoomChatTool\bin\Debug\link.wav</value>
            </setting>
        </SyncRoomChatTool.App>
    </userSettings>
</configuration>